<mat-toolbar id="main-toolbar">
  <h1 id="page-title"><a routerLink="/"> abelcastro.dev</a></h1>
  <div id="submenu">
    <a routerLink="/sports-dashboard" class="submenu-link">⚽ Sports Dashboard</a>
  </div>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<footer id="the-footer">
  <p>
    Abel Castro {{ currentYear }} - checkout the source code of this blog on
    <a href="https://github.com/abel-castro/ng.abelcastro.dev" class="github-link" target="_blank">
      GitHub</a>
  </p>
</footer>