.league-table {
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0 4px 4px; // to match with the card border-radius

  &:hover {
    cursor: pointer;
  }
}

.mat-column-position {
  width: 80px;
  text-align: center;
}

.mat-column-name {
  width: 180px;
}

.mat-column-points {
  width: 80px;
  text-align: center;
}

.table-row,
.table-header {
  line-height: 34px;
  min-height: 34px;
}

.table-header {
  font-weight: bold;
}
