#sports-dashboard-container {
  text-align: center;
}

.league-container {
  width: 340px;
  display: inline-block;
  padding: 1rem;
  vertical-align: top;
}

.league-logo {
  max-width: 24px;
  vertical-align: middle;
}
